<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Application | Sign In</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section id="form">
        <form action="/" method="POST" class="signin-form">
            <h2>Sign In</h2>
            <input type="text" name="username" placeholder="Enter your username" required>
            <input type="password" name="password" placeholder="Enter your password" required>
            <button type="submit">
                <i class='bx bxs-log-in-circle'></i>
                <span>Sign In</span>
            </button>
            <p>Don't have an account? <a href="/signup">Sign Up</a> now!</p>
        </form>
    </section>
</body>
</html>