<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Application | Sign Up</title>
    <link rel="stylesheet" href="/style.css">
    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section id="form">
        <form action="/signup" method="POST" class="signin-form">
            <h2>Sign Up</h2>
            <input type="text" name="username" placeholder="Create your username" required>
            <input type="password" name="password" placeholder="Create your password" required>
            <button type="submit">
                <i class='bx bxs-plus-circle'></i>
                <span>Sign Up</span>
            </button>
            <p>Already have an account? <a href="/">Sign In</a> now!</p>
        </form>        
    </section>
</body>
</html>